/*### calendar ###*/

.calendar {
  position: absolute;
  top:30%;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-rows: 10% 85%;
  background: #edf0f1;
}

.cal-header {
  background: #5c75a3;
  background: linear-gradient(to bottom, #5c75a3, #384763);
  color: #fefefe;

  padding: .5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
}

.year-month {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.year-month h5 {
  text-align: right;
  font-size: 1rem;
  padding-right: .5rem;
}
.year-month h2 {
  text-align: left;
  font-size: 1.5rem;
}

#left,
#right {
  cursor: pointer;

  border: none;
  background: #fff0;
  color: #fefefe;

  padding: 0.5rem;
  margin: 0 5vw;
}

/* GRID-ITEMS (VECKODAGAR) */

.grid-item,
div.active-item {
  position: relative;
  margin: 0.2rem;

  background: #fff;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.25s ease;
}

div.active-item {
  box-shadow: inset .5rem .5rem 0 0 #2ccd4d;
}

.grid-item h5,
div.active-item h5 {
  font-size: 5vw;
}
.grid-item p,
div.active-item p {
  display: none;
  text-align: center;
}

.grid-item .helgdag {
  width: 100%;
  font-size: 0.7rem;
}
.grid-item ul,
div.active-item ul {
  position: absolute;
  bottom: 0;

  padding: 0.2rem;
  list-style: none;

  display: flex;
}
.grid-item ul li::before,
div.active-item ul li::before {
  content: "\25cf";
}
