/*### calendar ###*/

.calendar {
  position: absolute;
  top:40%;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-rows: 10% 5% 80%;

  background: linear-gradient(to top, #ddd, #ccc);
  background: #d6d6d6;
}

.cal-header {
  background: #5c75a3;
  background: linear-gradient(to bottom, #5c75a3, #384763);
  color: #fefefe;

  padding: .5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week {
  display: grid;
  justify-items: center;
  align-content: center;

  font-family: 'Titillium Web', sans-serif;


  margin: 0 .5rem;

  grid-template-columns: repeat(7, 1fr);
}
.week * {
  padding: .2rem;
}
.weekday-desk {
  display: none;
}

.cal-grid {
  margin: 0 .5rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
}

.year-month {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.year-month h5 {
  text-align: right;
  font-size: 1rem;
  padding-right: .5rem;

  
}
.year-month h2 {
  text-align: left;
  font-size: 1.5rem;
  
}

#left,
#right {
  cursor: pointer;

  border: none;
  background: #fff0;
  color: #fefefe;

  padding: 0.5rem;
  margin: 0 5vw;
}

/* GRID-ITEMS (VECKODAGAR) */

.grid-item, .empty-item {
  position: relative;
  margin: 0.2rem;

  background: #fff;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.25s ease;
}
.empty-item {
  opacity: .5;
}

div.active-item {
  box-shadow: inset .5rem .5rem 0 0 #2ccd4d;
}

.grid-item h5{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);

  font-weight: 900;

  font-size: 4vw;
}
.grid-item p{
  display: none;
  text-align: center;
}

.grid-item p:first-child {
  display: none;
}
.grid-item p:last-child {
  font-family: 'Titillium Web', sans-serif;

  margin-bottom: 1rem;
}
.grid-item .helgdag {
  width: 100%;
  font-size: 0.7rem;
}
.grid-item ul{
  position: absolute;
  bottom: 0;

  padding: 0.2rem;
  list-style: none;

  display: flex;
}
.grid-item ul li::before{
  content: "\25cf";
}
