

main {
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
}
.sidebar {
    height: 100vh;
}
.todo-list {
    height: 70%;
}
.cal-toggle {
    display: none;
}

.calendar {
  position: relative;
  top: 0;
  grid-template-rows: 5% 90%;
}

.sidebar-heading {
    margin-top: 3rem;

    width: 100%;
    padding: 1rem;

    text-align: center;
}

.date-selector {
    margin: 1.5rem;
    width: 80%;
    min-height: 8rem;

    
    line-height: 1.6rem;
    text-align: center;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-date {
    display: none;
    border: none;
}

.unselected {
    display: flex;
    border: .1rem dashed rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.06);
}

.date-selector h1 {
    margin: 1rem 1rem;
    line-height: 2rem;
}
.date-selector h3 {
    font-size: 4vw;
    line-height: 2vw;
}

.date-selector > p {
    padding: 1rem;

    color: #fefefe60;
}
