main {
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
}
.sidebar {
  height: 100vh;
}
.todo-list {
  height: 70%;
}
.cal-toggle {
  display: none;
}

.weekday-desk {
  display: block;
}
.weekday-mob {
  display: none;
}
.calendar {
  position: relative;
  top: 0;

  display: grid !important;
  grid-template-rows: 5% 3% 85%;
}
.cal-header {
  justify-content: center;
}

.sidebar-heading {
  margin-top: 3rem;

  width: 100%;
  padding: 1rem;

  text-align: center;
}

.date-selector {
  width: 80%;
}

.selected-date {
  display: none;
  border: none;
}


.date-selector h2 {
  font-size: 2vw;
  margin-bottom: 1rem;
}
.date-selector h3 {
  font-size: 3.6vw;
  line-height: 2vw;
}

.date-selector > p {
  padding: 1rem;

  color: #fefefe60;
}


.grid-item {
    min-height: 8rem;
}
.grid-item p {
    position: absolute;
    bottom:.5rem;
    
  display: block;
  text-align: center;
}

.clock {
    padding: .5rem;
    text-align: center;
}