/*
    #fefefe white
    #252a2e shark
    #a9abad bombay
    #696c6e nevada
    #2ccd4d emerald
    #5c75a3 waikava grey
*/
/*
    font-family: 'Oxygen', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  /* background: #ff525255; */
}

html {
  font-size: 100%;
  font-family: "Oxygen", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: #252a2e;
}

main {
  width: 100%;
}

.cal-header {
  background: #5c75a3;
  color: #fefefe;

  display: flex;
  justify-content: center;
  align-items: center;
}
.year-month {
  position: relative;
  width: 40%;
  margin-top: .5rem;

  text-align: center;
}
.year-month h2 {
  font-size: 2rem;
}
.year-month h5 {
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: -.7rem;
  font-size: 1rem;

  transform: translateX(-50%);
}

#left,
#right {
  cursor: pointer;

  border: none;
  background: #fff0;
  color: #fefefe;

  padding: 0.5rem;
  margin: 0 5vw;
}

main {
  height: 95%;
  display: grid;

  background: #edf0f1;

  grid-template-columns: 25% auto;
  grid-auto-rows: 1fr;
}

.sidebar {
  background: #2c3235;
  color: #fefefe;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-heading {
  width: 100%;
  padding: 1rem;

  text-align: center;
}
.sidebar-heading h1 {
  margin: 0.5rem;
  padding: 0 0.5rem;
  color: #fefefe;

  border: 0.2rem solid #fefefe;
}
.sidebar-heading h2 {
  font-size: 7rem;
}
.sidebar-heading h3 {
  font-size: 2rem;

  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fefefe;
  margin-bottom: 0.5rem;
}
.sidebar ul {
  list-style: circle;

  padding-left: 2rem;
}
.button-wrapper,
input[type="button"] {
  padding: 0.2rem;
}

/*### calendar ###*/

.calendar {
  height: 100%;

  display: grid;
  grid-template-rows: 4rem auto;
}

.cal-grid {
  margin: 0.5rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.2rem;
}

/* GRID-ITEMS (VECKODAGAR) */

div.active-item {
  background: #aa5555;
}
div.active-item:hover {
  background: #ff5252;
}

.grid-item {
  position: relative;
  
  background: #888;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0rem solid #a9abad;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  transition: 0.25s ease;
}
.grid-item:hover {
  background: #bbb;
}

.grid-item h5 {
  font-size: 3rem;
}
.grid-item p {
  position: absolute;
  top: 0.2rem;
  text-align: center;
}
.grid-item ul {
  position: absolute;
  bottom: 0;

  padding: 0.2rem;
  list-style: none;

  display: flex;
}
.grid-item ul li::before {
  content: "\25cf";
}
