/*
    #fefefe white
    #252a2e shark
    #a9abad bombay
    #696c6e nevada
    #2ccd4d emerald
    #5c75a3 waikava grey
*/
/*
    font-family: 'Oxygen', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Oxygen", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: #252a2e;
}

main {
  width: 100%;
}

.cal-header {
  background: #5c75a3;
  color: #fefefe;

  display: flex;
  justify-content: center;
  align-items: center;
}
.year-month {
  position: relative;
  width: 40%;
  margin-top: 0.5rem;

  text-align: center;
}
.year-month h2 {
  font-size: 2rem;
}
.year-month h5 {
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: -0.7rem;
  font-size: 1rem;

  transform: translateX(-50%);
}

#left,
#right {
  cursor: pointer;

  border: none;
  background: #fff0;
  color: #fefefe;

  padding: 0.5rem;
  margin: 0 5vw;
}
main {
  height: 100%;
  display: grid;

  background: #edf0f1;

  grid-template-columns: 100% auto;
  
  grid-auto-rows: 1fr;
}

/*### calendar ###*/

.calendar {
  height: 100%;

  display: none;
  grid-template-rows: 4rem auto;
}

.cal-grid {
  margin: 0.5rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.2rem;
}

/* GRID-ITEMS (VECKODAGAR) */

.grid-item,
div.active-item {
  position: relative;

  background: #888;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0rem solid #a9abad;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.25s ease;
}
.grid-item:hover {
  box-shadow:inset 0 0 1rem 0 #333;
}

div.active-item {
  background: #aa5555;
}
.grid-item h5, div.active-item h5 {
  font-size: 3rem;
}
.grid-item p, div.active-item p {
  position: absolute;
  top: 0.2rem;
  text-align: center;
}
.grid-item ul, div.active-item ul {
  position: absolute;
  bottom: 0;

  padding: 0.2rem;
  list-style: none;

  display: flex;
}
.grid-item ul li::before, div.active-item ul li::before {
  content: "\25cf";
}
